.main {
  background-image: linear-gradient(
    rgba(226, 143, 131, 0.452),
    rgba(226, 144, 131, 0.452)
  ),url(../assests/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  padding: 6.26rem;
  color: #262a53;
  min-height: 90vh;
  text-align: center;
  background-attachment: fixed;
}
.text {
  margin: 3.125rem;
  font-size: 2rem;
}
.CTA {
  color: #262a53;
  background: none;
  border: none;
  transition: background-color 1s;
  border-radius: 0;
  border: 3px solid #262a53;
  padding: 0.5rem 2rem;
  transition: background-color 0.6s, border 0.6s;
  font-size: 20px;
  font-weight: 500;
}
.CTA:hover {
  background-color: #262a53;
  color: white;
  border: 3px solid #262a53;
}
h3{
    color: #787A91;
    font-size: 1rem;
    padding-top: 1rem;
}

/* Features */
.features{
    text-align: center;
    margin: 6rem 3rem;
}

.Fitem{
    font-size: 1rem;
    font-weight: normal;
    color: #262a53;
    vertical-align: middle;
    padding-top: 2rem;
}


/* Divider */
.divider{
  color: #B2B1B9;
  border-style: none;
  border-top-style: dotted;
  width: 12%;
  border-width: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}