*{
    font-family: 'Montserrat', sans-serif;
}
.nav{
    border-bottom: 5px solid #262A53;
}
.navitem{
    margin: 0.625rem 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: #262A53;
}
.navitem:hover{
    color: #E28F83;
}